.h1, h1 {
    font-size: 2.5rem;
}

a {
    color: white;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    height: fit-content;
    color: white;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

.label--login {
    width: 8em;
    display: inline-block;
}

.form-control {
    display: block;
    width: 25em;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--register {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://firebasestorage.googleapis.com/v0/b/hifi-ed258.appspot.com/o/images%2Fspeakers.jpg?alt=media&token=b14acfaa-19ac-4777-9862-b9d78b0138b3);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: rgba(255, 255, 255, 0.842);
}

.form--login {
    background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40, 0);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin: 1%;
}

section.link--register {
    background-color: black;
}

/* .background--head {

} */

.selectProfilePicture {
    max-height: 100px;
    margin: 1rem;
    align-content: center;
}

.profilePictureUpload, .backgroundCoverUpload {
    height: 36px;
    width: auto;
    box-sizing: border-box;
    border-color: #ccc;
    display: block; 
    padding-bottom: 4em;
    background-color: transparent;
}

/* input.profilePictureUpload, .backgroundCoverUpload {
    background-color: transparent;
} */

.profilePictureUploader, .backgroundCoverUploader {
    display: flex; 
    justify-content: center;


}

.selectBackgroundCover {
    object-fit: contain;
    height: 10em;
}


.uploadBoxes > .profilePictureUpload, .backgroundCoverUpload{
    display: flex; 
    flex-direction: column;
}

.profilePictureUpload, .backgroundCoverUpload {
border: solid 3px #ccc;
display: block;
justify-content: center;
}

.backgroundCoverUploadField {
    border: 0px solid transparent;
}

#submitRegistration {
    display: block; 
}

.profile {
    display: flex;
}

.mainProfileSection {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10rem;
    padding-bottom: 1%;

}

.profileSidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid#ccc;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
}

section.songSection {
    padding: 1%;
}

section.profileSongSection {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileSongList {
    padding: 1%;
    border: none;
}
.profileBackground {
    margin-top: 10em;
    padding-bottom: 120px;
    border-radius: 10px;
    padding-top: 1%;
    object-fit: cover;
}

.followButton {
    align-content: center;
}

.uploadBoxes{
    display: flex; 
    flex-basis: 20fr; 
    justify-content: center;
    flex-direction: column;
}

.form--updateProfile {
    /* padding-bottom: 25%; */
    display: inline-block;
    /* margin: 0 auto; */
    text-align: left;
    height: fit-content;
    color: white;
    padding: 10%;
    overflow: scroll;
    height: 100%;
    /* margin-bottom: 10em;
    padding-bottom: 100em; */
    left: 0px;
}

.profilePictureUploadField, .backgroundCoverUploadField {
    margin-bottom: 10%;
}
