.profilePicture {
    max-width: 50px;
}

.songSection {
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: solid #ccc 1px;
    margin: 1%;
    padding: 1%;
}

.background {
    display: flex;
    flex-direction: row;
    background-color:white;
    height: 200px;
    align-items: center;
}

.likeSection {
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: solid #ccc 3px;
    margin: 1%;
    padding: 1%;    
}

.profileSongList {
    border: solid #ccc 3px;
}

.streamSongList {
    border: solid #ccc 3px;  
}

.coverImage {
    display: flex;
    height: 100px;
    margin: 1%;
}

.selectImage {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 1%;
    background-color: #ccc;
}

.songPlayButton {
    border-radius: 50%;
    border: 3px solid #ccc;
    height: 50px;
    width: 50px;
    text-indent: -14px;
}

.song__user {
    font-family: 'Fira Sans', Arial, sans-serif;
    color: black
}

form.songForm {
    border: 2px solid #ccc;
    padding: 1%;
}

.playButton {
    border: 2px solid #ccc;
}

.songLink {
    color: black;
    font-family: 'Fira Sans', Arial, sans-serif;
}

#discoverTitle {
    position: relative;
}

/* img.discoverBanner {
    object-fit: cover;
    width: 100%;
} */

.discoverBackground {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hifi-ed258.appspot.com/o/images%2FRecordsVinylBG.jpeg?alt=media&token=efd14474-2f28-41c4-be7d-c9a8e92f1317");
    object-fit: cover;
    width: 100%;
    background-position: 0px 800px; 
}