.navbar {
    position: fixed;
    display: block;
    top: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid #ccc 3px;
    background-color: white;
    width: 95%;
    border-radius: 10px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    padding: 1%;
}

.navBarUploadButton {
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
}